[data-component="pattern-modal"] .form-control {
  display: inline;
  width: 200px;
}

[data-component="pattern-modal"] p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

[data-component="pattern-modal"] .emphasis {
  font-size: 1.3rem;
  font-weight: bold;
  color: crimson;
}
