[data-component="time-order-modal"] .form-control {
  display: inline;
  width: 200px;
}

[data-component="time-order-modal"] .radio-box {
  margin-left: 2rem;
  line-height: 27px;
  display: inline-block;
}

[data-component="time-order-modal"] form-check-inline {
  line-height: 27px;
}

[data-component="time-order-modal"] p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

[data-component="time-order-modal"] .emphasis {
  font-size: 1.3rem;
  font-weight: bold;
  color: crimson;
}

[data-component="time-order-modal"] .bold {
  font-size: 1.3rem;
  font-weight: bold;
}
