[data-component="repair-grid"] section {
  height: 80vh;
}

[data-component="repair-grid"] #repair-grid {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  text-align: center;
}

.error-text {
  font-weight: bold;
  color: rgb(201, 24, 24);
}

.repaired-text {
  font-weight: bold;
  color: blue;
}